https://adventofcode.com/2022/day/4

--- Day 4: Camp Cleanup ---

Space needs to be cleared before the last supplies can be unloaded from the ships, and so several Elves have been assigned the job of cleaning up sections of the camp. Every section has a unique ID number, and each Elf is assigned a range of section IDs.

However, as some of the Elves compare their section assignments with each other, they've noticed that many of the assignments overlap. To try to quickly find overlaps and reduce duplicated effort, the Elves pair up and make a big list of the section assignments for each pair (your puzzle input).

For example, consider the following list of section assignment pairs:

2-4,6-8
2-3,4-5
5-7,7-9
2-8,3-7
6-6,4-6
2-6,4-8

For the first few pairs, this list means:

    Within the first pair of Elves, the first Elf was assigned sections 2-4 (sections 2, 3, and 4), while the second Elf was assigned sections 6-8 (sections 6, 7, 8).
    The Elves in the second pair were each assigned two sections.
    The Elves in the third pair were each assigned three sections: one got sections 5, 6, and 7, while the other also got 7, plus 8 and 9.

This example list uses single-digit section IDs to make it easier to draw; your actual list might contain larger numbers. Visually, these pairs of section assignments look like this:

.234.....  2-4
.....678.  6-8

.23......  2-3
...45....  4-5

....567..  5-7
......789  7-9

.2345678.  2-8
..34567..  3-7

.....6...  6-6
...456...  4-6

.23456...  2-6
...45678.  4-8

Some of the pairs have noticed that one of their assignments fully contains the other. For example, 2-8 fully contains 3-7, and 6-6 is fully contained by 4-6. In pairs where one assignment fully contains the other, one Elf in the pair would be exclusively cleaning sections their partner will already be cleaning, so these seem like the most in need of reconsideration. In this example, there are 2 such pairs.

In how many assignment pairs does one range fully contain the other?

In [1]:
import pandas as pd

df = pd.read_csv("sections.txt", names=["A", "B"])

df['A_st'] = df.A.apply(lambda x: int(x[:x.find('-')]))
df['A_fi'] = df.A.apply(lambda x: int(x[x.find('-')+1:]))
df['B_st'] = df.B.apply(lambda x: int(x[:x.find('-')]))
df['B_fi'] = df.B.apply(lambda x: int(x[x.find('-')+1:]))

df['contained'] = df.apply(lambda x: ( (x.A_st >= x.B_st) & (x.A_fi <= x.B_fi) | (x.B_st >= x.A_st) & (x.B_fi <= x.A_fi)   
                                     ), axis=1)
df

         A      B  A_st  A_fi  B_st  B_fi  contained
0    35-73  35-82    35    73    35    82       True
1     9-27  10-80     9    27    10    80      False
2    25-93   2-42    25    93     2    42      False
3    37-54  52-53    37    54    52    53       True
4      3-8   2-97     3     8     2    97       True
..     ...    ...   ...   ...   ...   ...        ...
995  23-23  22-46    23    23    22    46       True
996  50-51  18-50    50    51    18    50      False
997  17-91   3-17    17    91     3    17      False
998  31-89  30-88    31    89    30    88      False
999  11-74   7-12    11    74     7    12      False

[1000 rows x 7 columns]

In [2]:
sum(df.contained)

507

--- Part Two ---

It seems like there is still quite a bit of duplicate work planned. Instead, the Elves would like to know the number of pairs that overlap at all.

In the above example, the first two pairs (2-4,6-8 and 2-3,4-5) don't overlap, while the remaining four pairs (5-7,7-9, 2-8,3-7, 6-6,4-6, and 2-6,4-8) do overlap:

    5-7,7-9 overlaps in a single section, 7.
    2-8,3-7 overlaps all of the sections 3 through 7.
    6-6,4-6 overlaps in a single section, 6.
    2-6,4-8 overlaps in sections 4, 5, and 6.

So, in this example, the number of overlapping assignment pairs is 4.

In how many assignment pairs do the ranges overlap?

In [3]:
df['overlap'] = df.apply(lambda x: ( (x.A_st <= x.B_st) & (x.B_st <= x.A_fi) | (x.B_st <= x.A_st) & (x.A_st <= x.B_fi)  
                                   ), axis=1)
df

         A      B  A_st  A_fi  B_st  B_fi  contained  overlap
0    35-73  35-82    35    73    35    82       True     True
1     9-27  10-80     9    27    10    80      False     True
2    25-93   2-42    25    93     2    42      False     True
3    37-54  52-53    37    54    52    53       True     True
4      3-8   2-97     3     8     2    97       True     True
..     ...    ...   ...   ...   ...   ...        ...      ...
995  23-23  22-46    23    23    22    46       True     True
996  50-51  18-50    50    51    18    50      False     True
997  17-91   3-17    17    91     3    17      False     True
998  31-89  30-88    31    89    30    88      False     True
999  11-74   7-12    11    74     7    12      False     True

[1000 rows x 8 columns]

In [4]:
sum(df.overlap)

897